{% extends 'base.html' %}

{% load static %}

{% block meta %}
<title>Homepage</title>
<link rel="stylesheet" href="{% static 'detil.css' %}">
{% endblock meta %}

{% block content %}
<br>
<br>
{% if user.is_authenticated %}
<h1 style="text-align: center;">{{dataA.nama}}</h1>
<br>
<div class="container">
    <table class = "table table-striped" >
        <thead class="thead-dark">
            <th class = "text-light" scope="col">Keterangan</th>
            <th class = "text-light" scope="col">Informasi</th>
        </thead>
        <tbody>
            {% for dpr in dataP %}
            {% if dpr.namaProv == dataA %}
        <tr>
            <td class="text-dark">Laki-Laki</td>
            <td class = "text-darl">{{dpr.laki}}</td>
        </tr>
        <tr>
            <td class = "text-dark">Perempuan</td>
            <td class = "text-dark">{{dpr.perempuan}}</td>
        </tr>
        <tr>
            <td class = "text-dark">Tanpa Keterangan Jenis Kelamin</td>
            <td class = "text-dark">{{dpr.lainjk}}</td>
        </tr>
        <tr>
            <td class = "text-dark">Usia 0-5 Tahun</td>
            <td class = "text-dark">{{dpr.usia1}}</td>
        </tr>
        <tr>
            <td class = "text-dark">Usia 6-18 Tahun</td>
            <td class = "text-dark">{{dpr.usia2}}</td>
        </tr>
        <tr>
            <td class = "text-dark">Usia 19-30 Tahun</td>
            <td class = "text-dark">{{dpr.usia3}}</td>    
        </tr>
        <tr>
            <td class = "text-dark">Usia 31-45 Tahun</td>
            <td class = "text-dark">{{dpr.usia4}}</td>    
        </tr>
        <tr>
            <td class = "text-dark">Usia 46-59 Tahun</td>
            <td class = "text-dark">{{dpr.usia5}}</td>    
        </tr>
        <tr>
            <td class = "text-dark">Usia >60 Tahun</td>
            <td class = "text-dark">{{dpr.usia6}}</td>    
        </tr>
        <tr>
            <td class = "text-dark">Tanpa Keterangan Usia</td>
            <td class = "text-dark">{{dpr.lainusia}}</td>    
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>    
    </table>
</div>
{% else %}

<!-- <div id = "peringatan" style="margin: auto; text-align: center;">
    <h1>Harap Login Terlebih Dahulu</h1>
    <a id= "yes" href="#">Klik untuk menghilangkan pemberitahuan</a>
</div> -->

<div id="logon" style="margin: auto;text-align: center;">Silahkan login, klik mengerti untuk menghilangkan pemberitahuan <p></p><a href ="#" id="ngerti" style="color:rgb(228, 59, 81);">Mengerti</a></div>
{% endif %}
<br>
<br>
<div style="margin: auto;text-align: center;">Klik Biru untuk merubah warna teks "Mengerti" menajadi warna Biru<p></p><a href ="#" id="wrn" style="color:blue;">Biru</a></div>
<div id="aa" style="margin: auto;text-align: center;">Klik Muncul untuk menampilkan peringatan <p></p><a href ="#" id="mcl" style="color:rgb(228, 59, 81);">Muncul</a></div>
{% endblock content %}

{% block jsfile %}
<script>
    $(document).ready(function(){
        $("#aa").hide();
    });
    $("#ngerti").click(function(){
        $("#logon").hide();
        $("#aa").show();
    });
    $("#wrn").click(function(){
        $("#ngerti").css("color", "#D8F2FF");
    });
    $("#mcl").click(function(){
        $("#logon").show();
        $("#aa").hide();
    });
</script>
{% endblock jsfile %}