{% if ceritas %}
    {% for cerita in ceritas %}
    <div class="card bg-light mb-3 submisi-card swiper-submisi-slide" style="width: 350px;">
        <div class="card-header">Submisi #{{ forloop.counter }}</div>
        <div class="card-body">
            <h5 class="card-title">{{ cerita.judul_pencerita }}</h5>
            <h6 class="card-subtitle">oleh {{ cerita.nama_pencerita }}</h6>
        </div>
        <a class="btn btn-primary" href="{% url 'bintang:detail' cerita.id %}"
        style="color: aliceblue;">Baca Selengkapnya</a><br>
        <div class="card-footer">
            <p class="card-text">
                {{ cerita.published }}
            </p>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h3>Cerita tidak ditemukan.</h3>
{% endif %}