{% extends 'base.html' %}

{% load static %}

{% block meta %}
<title>Homepage</title>
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

{% endblock meta %}

{% block content %}


<!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <img src="{% static 'img/Banner1_covid.svg' %}" alt="">
        </div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
        ...
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
    
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    
    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>

{% if user.is_authenticated %}
<div class="welcome d-flex justify-content-center">
    <h2>Welcome, {{ user.first_name }}</h2>
</div>
{% endif %}

<div class="middle">
    <div class="peta">
        <div class="peta-img">
            <img src="{% static 'img/peta1.png' %}" alt="">
        </div>
        <div class="peta-text">
            <h1>Persebaran</h1>
            <h1 style="color: rgb(238, 22, 22);">Covid-19</h1>
            <h1>Di</h1>
            <h1>Daerah</h1>
            <h1>Ibu Kota</h1>
            
            <a href="{% url 'berita:beritahome' %}" class="btn btn-info info-sel">INFO SELENGKAPNYA</a>
        </div>
    </div>
</div>

<div class="subm">
    <div class="submisi-title">
        <h2 style="color: rgb(238, 22, 22);">Cari Rumah Sakit</h2>
        <p>Pencarian berdasarkan provinsi di Indonesia</p>
    </div>
    <input type="text" name="search_1" id="keyword" class="form-control" placeholder="Contoh: DKI Jakarta" style="margin: 30px; ">
    <ol id="hasil">
        
    </ol>
</div>

<div class="subm">
    <div class="submisi-title">
        <h2>Cerita Untuk Kamu</h2>
    </div>
    
    <div class="forms d-flex" style="margin: 20px 0 0 20px;">
        <input type="text" name="search_1" id="id_search_1" class="form-control" placeholder="Judul cerita...">
        <select class="form-control" name="sortby" id="id_sortby">
            <option value="0">Judul</option>
            <option value="1" selected="selected">Recently</option>
        </select>
    </div>
    
    <div class="content">
        <div class="swiper-submisi">
            <div class="swiper-submisi-wrapper" id="first">
                {% if ceritas.count != 0 %}
                {% for cerita in ceritas %}
                <div class="card bg-light mb-3 submisi-card swiper-submisi-slide" style="width: 350px;">
                    <div class="card-header">Submisi #{{ forloop.counter }}</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ cerita.judul_pencerita }}</h5>
                        <h6 class="card-subtitle">oleh {{ cerita.nama_pencerita }}</h6>
                    </div>
                    <a class="btn btn-primary" href="{% url 'bintang:detail' cerita.id %}"
                    style="color: aliceblue;">Baca Selengkapnya</a><br>
                    <div class="card-footer">
                        <p class="card-text">
                            {{ cerita.published }}
                        </p>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="swiper-submisi-pagination"></div>
            <div class="swiper-submisi-scrollbar"></div>
        </div>
    </div>
</div>

{% if user.is_authenticated %}
<div class="subm">
    <div class="submisi-title">
        <h2>Cerita Dari Kamu</h2>
    </div>

    <div class="content">
        <div class="swiper-submisi">
            <div class="swiper-submisi-wrapper" id="second">
                {% if cerita_user.count != 0 %}
                {% for cerita in cerita_user %}
                <div class="card bg-light mb-3 submisi-card swiper-submisi-slide" style="width: 350px;">
                    <div class="card-header">Submisi #{{ forloop.counter }}</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ cerita.judul_pencerita }}</h5>
                            <h6 class="card-subtitle">oleh {{ cerita.nama_pencerita }}</h6>
                        </div>
                        <a class="btn btn-primary" href="{% url 'bintang:detail' cerita.id %}"
                        style="color: aliceblue;">Baca Selengkapnya</a><br>
                        <a class="btn btn-danger" href="{% url 'bintang:delete' cerita.id %}" title="">Hapus Cerita Ini</a>
                        <div class="card-footer">
                            <p class="card-text">
                                {{ cerita.published }}
                            </p>
                        </div>
                    </div>
                  
                    {% endfor %}
                    {% else %}
                    <div style="width: 100%;">
                        <h3 style="text-align: center;">Belum ada cerita</h3>
                    </div>
                    
                {% endif %}
            </div>
            {% if cerita_user.count != 0 %}
            <div class="swiper-submisi-pagination"></div>
            <div class="swiper-submisi-scrollbar"></div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}

<!-- bintangnumpang -->

<div class="to-submisi">
    <h1>Ayo ceritakan kisah atau tips-mu dalam menghadapi pandemi ini!</h1>
    <a href="{% url 'bintang:submisi' %}" class="btn btn-to-submisi">KLIK DISINI</a>
</div>

<div class="container-form">
    <form method="POST" id="new_user_form">
        {% csrf_token %}
        
        <div class="form-group">
            <input type="hidden" id="nama_feedback" name="nama_feedback" value="{{ user.first_name }}">
        </div>
        <div class="form-group">
            Feedback <br>
            <textarea type="text" id="feedback_pencerita" name="feedback_pencerita"></textarea>
        </div>
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</div>

{% endblock content %}

{% block jsfile %}
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="{% static 'js/home.js' %}" type="text/javascript"></script>
<script src="{% static 'js/ajax_call.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bintang.js' %}" type="text/javascript"></script>

{% endblock jsfile %}