{% extends 'base.html' %}

{% load static %}

{% block meta %}
<title>Homepage</title>
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="{% static 'js/bintang.js' %}" type="text/javascript"></script>
{% endblock meta %}

{% block content %}

<div>
    {% for isi in masukkan %}
    <p>{{isi.feedback_pencerita}}<p>
    {% endfor %}
</div>

{% endblock content %}

{% block jsfile %}
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="{% static 'js/home.js' %}"></script>
<script src="{% static 'js/ajax_call.js' %}"></script>

{% endblock jsfile %}