{% extends "base.html" %}

{% block meta %}
  
{% endblock meta %}

{% block content %}
  <form action="{% url 'authentication:login' %}" method="post">
      {% csrf_token %}
      <div class="form-group">
          <label for="id_username">Username</label>
          <input type="text" name="username" id="id_username">
      </div>
      <div class="form-group">
        <label for="id_password">Password</label>
        <input type="password" name="password" id="id_password">
    </div>
    <input type="submit" value="login">
    <div class="error">
        {% for message in messages %}
        <p style="color:red;" >{{message}}</p>
        {% endfor %}
    </div>
  </form>
  <p>Belum punya akun ? <span><a href="{% url 'authentication:signup' %}" style="color: black;"> Sign Up</a></span></p>
{% endblock content %}