{% extends "base.html" %}
{% block meta %}
  
{% endblock meta %}

{% block content %}
  <form action="{% url 'authentication:signup' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_first_name">Nama</label>
        {{ form.first_name }}
    </div>
    <div class="form-group">
        <label for="id_username">Username</label>
        {{ form.username }}
    </div>
    <div class="form-group">
        <label for="id_email">Email</label>
        {{ form.email }}
    </div>
    <div class="form-group">
        <label for="id_password1">Password</label>
        {{ form.password1 }}
    </div>
    <div class="form-group">
        <label for="id_password2">Password Confirmation</label>
        {{ form.password2 }}
    </div>
    <input type="submit" value="Sign up">
</form>
<p>Sudah punya akun ? <span><a href="{% url 'authentication:login' %}" style="color: black;"> Login</a></span></p>
{% endblock content %}