{% extends 'base.html' %}

{% load static %}

{% block meta %}
<title>Statistics</title>
<link rel="stylesheet" href="{% static 'stats/stylecard.css' %}"> 
{% endblock meta %}

{% block content %}

{% if user.is_authenticated %}
<a href="{% url 'betterstats:betterstats' %}"><h1 id="link-to-better">Better stats by Country</h1></a>
<div class="photo-page" style="max-width: 1000px; margin-left:24%; margin-top:5%; margin-bottom:5%">
    {% for prov in object_list %}
    <div class="card card-tall" style="color:black; background-color:rgb(117, 193, 255)">
        <h1 style="border-bottom: 3px solid black; "><a href ="{% url 'detil:detil' prov.id %}" style="color: black">{{ prov.nama }}</a></h1>
        <p style="font-size: 20px;">Meninggal</p>
        <h2>{{ prov.mati }}</h2>
        <p style="font-size: 20px;">Positif</p>
        <h2>{{ prov.positif }}</h2>
        <p style="font-size: 20px;">Sembuh</p>
        <h2>{{ prov.sembuh }}</h2>
    </div>
    {% endfor %}
    
    
    
</div>
{% else %}
<h2>Harap <a href="{% url 'authentication:login' %}" style="color: black;">Login</a></h2>
{% endif %}

{% endblock content %}