body {
    background: rgba(224, 224, 224, 0.836);
    color: rgb(0, 0, 0);
    font-family: 'roboto', sans-serif;
}

.card1 {
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    background: #a3ceff;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 80%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

.titlehov {
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
}
  
.card1:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
 }

.titlehov:hover {
    background-color: #cae9ff;
}

.photo-page1 {
    display: grid;
    gap: 1rem;
  
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
  }

  .buttons1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  /* Medium screens */
  @media screen and (min-width: 600px) {
    .card-tall1 {
      grid-row: span 3 / auto;
    }
  
    .card-wide1 {
      grid-column: span 3 / auto;
    }
  }
