{% extends 'base.html' %}

{% load static %}

{% block meta %}
<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'betterstats/betterstatscss.css' %}"> 
{% endblock meta %}

{% block content %}

<h1 class="title-search">Search Statistics by Country</h1>
<select id="negara">
</select>

<div>
    <div id="current-country"></div>
    <div id="results_list_show" class="photo-page">
    </div>
</div>

<script type="text/javascript">

    $( document ).ready(function() {
        var settings = {
            "url": "https://api.covid19api.com/countries",
            "method": "GET",
            "timeout": 0,
        };
        
        var country = $('#negara');
        $.ajax(settings).done(function (response) {
            for (i = 0; i<response.length; i++) {

                var slug = response[i].Slug;
                var name = response[i].Country;
                country.append(
                    '<option value="'+slug+'">'+name+'</option>'
                )
            }
        });
    });

    $("#negara").click( function() {
        var searchword = $("#negara").val();
        var url_search = 'https://api.covid19api.com/country/'+searchword;
        var current = $('#current-country');
        current.empty();

        $.ajax({
            url : url_search,
            success: function(product) {
                console.log(product);
                var results_list_show = $("#results_list_show");
                results_list_show.empty();

                
                current.append(
                    '<h2>'+ product[0].Country +'</h2>' +
                    '<h3>last 30 days</h3>'          
                )

                for (i = product.length -1; i >=(product.length-31); i--) {
                    var date = product[i].Date;
                    var confirmed = product[i].Confirmed;
                    var active = product[i].Active;
                    var deaths = product[i].Deaths;
                    var recovered = product[i].Recovered;

                    results_list_show.append(
                        '<div class="cardb">' +
                            '<h2>Date = '+ date + '</h2>' +
                            '<h2>Confirmed = '+ confirmed + '</h2>' +
                            '<h2>Active = '+ active + '</h2>' +
                            '<h2>Deaths = '+ deaths + '</h2>' +
                            '<h2>Recovered = '+ recovered + '</h2>' +
                        '</div>'
                        )

                }

            }
        });
    });

</script>

{% endblock content %}