{% extends 'base.html' %}

{% load static %}

{% block meta %}
<title>News</title>
<link rel="stylesheet" href="{% static 'berita/beritastyle.css' %}">
<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>
{% endblock meta %}

{% block content %}

<div class="searchberita">
    <h1 style="font-size: 150px; text-align:center; margin-top:5%"> News SEARCH </h1>

    <input style="margin-left: 30%; margin-top: 10%; margin-bottom:11.6%; height: 50px; width: 863px;" 
        id="searcher1" placeholder="Enter news headline">

</div>

<div id="searchresult">
</div>

<script type="text/javascript">

    $("#searcher1").keyup( function() {
        var searchword = $("#searcher1").val();
        var url_search = '/berita/searchresults/?q='+ searchword;
        var resultsshow = $('#searchresult');
        $.ajax({
            url : url_search,
            success: function(product) {
                console.log(product);
                resultsshow.empty();

                if (searchword.length >= 1) {
                    for (i = 0; i < product.length; i++) {
                        var judul_berita = product[i].judul;
                        var penulis_berita = product[i].penulis;
                        var tanggal_berita = product[i].tanggal;
                        var sumber_berita = product[i].sumber;

                        resultsshow.append(
                            '<div style="text-align:center; margin-bottom:1em; border: 2px solid  rgb(236, 236, 236); background-color:rgb(250, 250, 250);">' +
                            '<a href="'+ sumber_berita +'">'+
                            '<h1 style="color: black">'+ judul_berita +'</h1>'+ '</a>'+
                            '<h2>'+ penulis_berita +'</h2>'+
                            '<h3>'+ tanggal_berita +'</h3>' +
                            '</div>'
                        )
                    }
                }
            }
        });
    });


</script>

{% endblock content %}