{% extends 'base.html' %}

{% load static %}

{% block meta %}
<title>News</title>
<link rel="stylesheet" href="{% static 'berita/beritastyle.css' %}"> 
{% endblock meta %}

{% block content %}

{% if user.is_authenticated %}
<a href="{% url 'berita:beritasearch' %}"><h2 style="color:black; text-align:center; margin-top: 5%">Cari Berita</h2></a>
<div class="photo-page1" style="margin-top: 3%; margin-bottom:5%; margin-left:6%">
    {% for ber in object_list %}
    <div class="card1 card-tall1 card-wide1">
        <div style="margin-left: 5%; margin-right: 5%">
            <div style=" color:rgb(0, 0, 0);">
                <a href="{{ ber.sumber }}"><h1 class="titlehov" style="margin-top: 5%; color:rgb(0, 0, 0); border-bottom:3px solid black">{{ ber.judul }}</h1></a>
                <h3>{{ber.penulis}}</h3>
                <h3>{{ber.tanggal}}</h3>
            </div>
             <br><br>
            <p>{{ber.preview}}</p>
        </div>
        
    </div>
    {% endfor %}
</div>
{% else %}
    <h2>Harap <a href="{% url 'authentication:login' %}" style="color: black;">Login</a></h2>
    
{% endif %}

{% endblock content %}