body {
    font-family: 'Montserrat', sans-serif;
}

a, a:hover, a:active {
    color: white;
    text-decoration: none;
}

header {
    background: #164D9D;
}
header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 110px;
}

nav a {
    font-size: 18px;
    font-weight: 600;
    color: #d8d8d8;
}

nav a:hover {
    color: white;
}

nav a:not(:last-child) {
    margin-right: 5%;
}

footer {
    background: #164D9D;

    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

    padding: 20px 20px 0 20px;
    color: white;
}

footer h6 {
    font-weight: 600;
}

footer .social {
    display: flex;
    flex-direction: column;
}

footer .social p {
    display: inline;
    line-height: 1;
    vertical-align: text-top;
    margin-left: 10px;
}

footer .social a:not(:first-child) {
    margin-top: 5px
}

footer .social i {
    font-size: larger;
}

footer .copyright {
    margin-top: 20px;
}

footer .copyright p {
    text-align: center;
    font-size: small;
    margin: 0;
}

.logo {
    width: 64px;
    height: 64px;
    margin-right: 30px;
}

@media screen and (max-width: 540px) {
    nav a {
        font-size: 14px;
    }
} 
