{% extends 'base.html' %}

{% load static %}

{% block meta %}
<title>Cerita Kita</title>
<link rel="stylesheet" href="{% static 'home/css/style.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="{% static 'home/js/bintang.js' %}" type="text/javascript"></script>

{% endblock meta %}

{% block content %}
<div class="container-detail">
    <div class="container-detail-upper">
        <div class="container-detail-judul">
            <p>{{cerita.judul_pencerita}}</p>
        </div>
        <div class="container-detail-posted-by">
            <p>Posted by {{cerita.nama_pencerita}} on {{cerita.published}}<br></p>
            <p>{{cerita.email_pencerita}}</p>
        </div>
    </div>
    <div class="container-detail-lower">
        <div class="container-paragraph" style="text-align: justify;">
            <p>{{cerita.cerita_pencerita}}
            </p>
        </div>
        <button id="hide" class="btn btn-danger">Sembunyikan Cerita dari {{cerita.nama_pencerita}}</button>
        <button id="show" class="btn btn-primary" style="display: none">Tampilkan Cerita dari {{cerita.nama_pencerita}}</button>
        <div class="container-button" style="height: 175px;">
            <div style="border-top: 40px solid rgb(255, 255, 255);">   
                <a class="btn btn-info" href="{% url 'home:index' %}">Kembali</a>         
                <a class="btn btn-success" href="{% url 'bintang:submisi' %}" style="float: right;">Ceritain Kisah
                    Corona Kamu Yuk</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

