{% extends 'base.html' %}

{% load static %}

{% block meta %}
<title>Submisi</title>
<link rel="stylesheet" href="{% static 'home/css/style.css' %}">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="{% static 'home/js/bintang.js' %}" type="text/javascript"></script>
<style>
    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    textarea {
        width: 100%;
        height: 200px;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

</style>
{% endblock meta %}


{% block content %}
    {% if user.is_authenticated %}
    <div class="container-judul">
        <p>{{ page_title }}</p>
    </div>
    <div class="container-form">
        <form method="POST">
            {% csrf_token %}
            
            <div class="form-group">
                <input type="hidden" id="nama_pencerita" name="nama_pencerita" value="{{ user.first_name }}">
            </div>
            <div class="form-group">
                <input type="hidden" id="email_pencerita" name="email_pencerita" value="{{ user.email }}">
            </div>
            <div class="form-group">
                Judul <br>
                <input type="text" id="judul_pencerita" name="judul_pencerita">
            </div>
            <div class="form-group">
                Cerita Pencerita <br>
                <textarea type="text" id="cerita_pencerita" name="cerita_pencerita"></textarea>
            </div>
            <div class="hitung">
                <span id="alphabetCount">0</span> Characters
            </div>
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
    {% else %}
    <div class="harap-login">
        <h1>Harap login terlebih dahulu</h1>
    <div class="harap-login">
    {% endif %}

{% endblock content %}

