body {
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
}


@media (max-width: 2000px) {

    .container-judul {
        background-color: #2F7DED;
        border-left: 140px solid white;
        border-right: 140px solid white;
        padding: 15px;
        text-align: center;
        color: white;
        font-size: 40px;
    }

    .container-form {
        background-color: lightgrey;
        border-left: 140px solid white;
        border-right: 140px solid white;
        padding: 50px;
    }

    .container-form button {
        float: right;
        width: 225px;
    }

    .container-detail-upper {
        border-bottom: 2px solid black;
    }
    
    .container-detail {
        border-left: 140px solid white;
        border-right: 140px solid white;
        border-top: 50px solid white;
        border-bottom: 50px solid white;
    }
    
    .container-detail-judul {
        font-size: 50px;
    }
    
    .container-detail-posted-by {
        font-weight: normal;
        font-size: 12px;
    }
    
    .container-detail-lower {
        border-top: 30px solid white;
    }
    
    .container-paragraph {
        font-size: 16px;
        font-weight: normal;
    }

    
}

@media (max-width: 1025px) {

    .container-judul {
        background-color: #2F7DED;
        border-left: 120px solid white;
        border-right: 120px solid white;
        padding: 15px;
        text-align: center;
        color: white;
        font-size: 40px;
    }

    .container-form {
        background-color: lightgrey;
        border-left: 120px solid white;
        border-right: 120px solid white;
        padding: 50px;
    }

    .container-form button {
        float: right;
        width: 225px;
    }

    .container-detail-upper {
        border-bottom: 2px solid black;
    }
    
    .container-detail {
        border-left: 80px solid white;
        border-right: 80px solid white;
        border-top: 50px solid white;
        border-bottom: 50px solid white;
    }
    
    .container-detail-judul {
        font-size: 50px;
    }
    
    .container-detail-posted-by {
        font-weight: normal;
        font-size: 12px;
    }
    
    .container-detail-lower {
        border-top: 30px solid white;
    }
    
    .container-paragraph {
        font-size: 16px;
        font-weight: normal;
    }

}

@media (max-width: 769px) {

    .container-judul {
        background-color: #2F7DED;
        border-left: 0px solid white;
        border-right: 0px solid white;
        padding: 10px;
        text-align: center;
        color: white;
        font-size: 40px;
    }

    .container-form {
        background-color: lightgrey;
        border-left: 0px solid white;
        border-right: 0px solid white;
        padding: 20px;
        height: 600px;
    }

    .container-form button {
        float: none;
    }

    .container-detail-upper {
        border-bottom: 2px solid black;
    }
    
    .container-detail {
        border-left: 20px solid white;
        border-right: 20px solid white;
        border-top: 30px solid white;
        border-bottom: 30px solid white;
    }
    
    .container-detail-judul {
        font-size: 50px;
    }
    
    .container-detail-posted-by {
        font-weight: normal;
        font-size: 12px;
    }
    
    .container-detail-lower {
        border-top: 30px solid white;
    }
    
    .container-paragraph {
        font-size: 16px;
        font-weight: normal;
    }
}

.harap-login {
    margin: auto;
    text-align: center;
    margin-top: 250px;
}