.swiper-container {
    height: 354px;
    background-color: #F0EFEF;
}

.swiper-slide img {
    width: 100%;
    height: 354px;
}

.ask {
    position: relative;
    text-align: center;
    max-width: 18px;
    
    font-size: 18px;
    font-weight: 600;
    
    transform: translate(41px, -75px);
    color: white;
}

.middle {
    width: 75%;
    margin: 0 auto;
    padding-bottom: 20px;
    transform: translateY(5%);
    /* border: 1px solid black; */
}
.peta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 0;
}

.peta-img {
    max-width: 477px;
    max-height: 477px;
    /* background: #888888; */
    margin-right: 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.peta-img img {
    width: 100%;
    height: auto;
}

.peta-text {
    width: 400px;
}

.peta-text h1 {
    font-size: 3.3rem;
    font-weight: bold;
    
    color: #2F7DED;
}

.btn-info {
    background: linear-gradient(90deg, #F87173 1.33%, #F38889 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
    border-color: transparent;
    font-size: 14;
    font-weight: 600;
    padding: 14px 50px;
    
    margin: 30px 10px 0px 10px;
}

.btn-info:hover {
    background: linear-gradient(90deg, #d15d5f 1.33%, #d4797a 100%);
    border-color: #C05557;
}

.btn-info:focus {
    box-shadow: none;
}

.subm {
    width: 60%;
    margin: 30px auto 0 auto;
}

.submisi-title h2{
    font-weight:700;
    font-size: 48px;
    color: #3e8cf8;

    margin-left: 20px;
}

.content {
    width: 100%;
    overflow: hidden;
    margin: 20px auto;
    padding-left: 20px;
}

.swiper-submisi {
    width: 100%;
    height: 100%;
}
.swiper-submisi-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.swiper-submisi-pagination {
    display: flex;
    justify-content: center;
}
.swiper-submisi-slide {
    margin-top: 20px;
    width: 400px;
    height: 350px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.submisi-card {
    padding: 10px;
}
.card-header {
    color: #fff;
    background: #F87173;
}

.card-title {
    font-weight: 600;
}

.to-submisi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #2F7DED;
    color: rgb(231, 231, 231);

    padding: 20px 10px;
    margin-top: 60px;
}

.to-submisi h1 {
    font-weight: 600;
    text-align: center;
}

.btn-to-submisi {
    margin-top: 20px;
    background: #153c72;
    color: white;
    font-weight: bold;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-to-submisi:hover {
    background: #0c2241;
    color: white;
}
 
@media screen and (max-width: 768px) {
    .swiper-container {
        height: 150px;
    }

    .swiper-slide img {
        height: 150px;
    }
    
    .peta {
        flex-direction: column;
        align-items: center;
    }
    .peta-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;
    }
    .peta-text h1 {
        text-align: center;
        font-size: 2.5rem;
    }
    .peta-img {
        max-width: 300px;
        max-height: 300px;
    }
    .btn-info {
        margin-left: 25px;
        margin-right: 25px;
    }
    .submisi-title h2 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 540px) {
    .subm {
        width: 85%;
    }
    .to-submisi h1{
        font-size: x-large;
    }
}