<!doctype html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
    {% block meta %}

        <title>Edukasi-di Rumah</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- My fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet"> 

        <!-- My CSS -->
        
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

        

    <style>

        body{
            font: Montserrat;
        }
        .judul{
            color: rgba(0, 0, 0, 0.900);
            font-size: 20px;
            font-weight: 500;
        }
        .videod docs{
            margin-top: 0.5em;
            margin-left: 10px;
            width: 30%;
            display: inline-block;
        }
        
        .textp{
            color:rgba(0, 0, 0, 0.750);
            font-weight: 100;
            font-size: 13px;
        }

        .btn1{
            border-radius: 12px;
            background-color: rgb(218, 78, 78);
            color: black;
            font-size: 12px;
            border:rgb(218, 78, 78);
        }

        .btn1:hover{
            background-color: grey;
            text-decoration: none;
        }

    </style>
    {% endblock meta %}



        {% block content %}
        <section style="padding-top: 5em;">
            <div class="container">
                <h5 class="judul">Tips di Rumah</h5>
                <p class="textp"> coba simak berbagai video terkait di bawah ini: </p>
                <div class="row">
                    <div class="col-md-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/HChg7g6oPjE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/I2QQVr5j85s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  
                </div>
                <p style="margin-top:1em">Edukasi Anak</p>
                <div class="row">
                    <div class="col-md-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/562zTOhVJSE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/HANzVCeN_FE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>

                <div class="row">
                <div class="col-md-6" style="padding-bottom: 3em">
                    <a href="https://covid19.kemkes.go.id/warta-infem/begini-cara-mencuci-tangan-yang-benar/"><button class="btn1" href="https://covid19.kemkes.go.id/warta-infem/begini-cara-mencuci-tangan-yang-benar/" style="margin-top: 3em">Artikel Tips Berkegiatan di Rumah</button></a>
                    <a href="{% url 'tips:add_jurnal' %}"><button class="btn1" href="{% url 'tips:add_jurnal' %}" >kembali</button></a>
                </div>  
                </div>
            </div>
        </section>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
      
    

    {% endblock content %}
   