
{% extends 'base.html' %}
{% load static %}

 
        <!-- My CSS -->
        {% block meta%}
        <title>Edukasi Covid</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- My fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet"> 

        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        

        <style>

        body{
            font-family: Montserrat;
        }
        
        .judul{
            color: rgba(0, 0, 0, 0.900);
            font-size: 20px;
            font-weight: 500;
        }

        .judul::after{
            content: "";
            display: block;
            color: black;
        }

        .fotoed1:hover{
            transform: scale(1.1); 
        }

        .fotoed2:hover{
            transform: scale(1.1); 
        }

        .fotoed3:hover{
            transform: scale(1.1); 
        }

        img{
            width: 30%;
        }

        .underpict{
            margin-top: 1em;
            color:rgba(0, 0, 0, 0.750);
            font-size: 15px;
            font-weight:450;
        }

        .undertext{
            color:rgb(87, 85, 85);
            font-size: 12px;
            font-weight: 150;
        }

        .underlink{
            color:black;
        }

        .underlink:hover{
            color: rgb(134, 134, 134);
            font-weight: 50;
            text-decoration: none;
        }
        .textlink{
            color:black;
        }

        .textlink:hover{
            color: rgb(134, 134, 134);
            font-weight: 500;
            text-decoration: none;
        }

        .btn1{
            border-radius: 12px;
            background-color: rgb(218, 78, 78);
            color: black;
            font-size: 12px;
            border:rgb(218, 78, 78);
        }

        .btn1:hover{
            background-color: grey;
            text-decoration: none;
        }
        </style>
    
    {% endblock meta %} 

    
    {% block content %}
        <section style="padding-top: 5em;">
            <div class="container">
                <h5 class="judul">Edukasi Covid-19</h5>
                <div class="row">
                    <div class="col-md-12">
                        <div class="fotoed" style="margin-top: 0.5em;">
                            <img class="fotoed1" src="{% static 'cucitngan2.png'  %}" alt="cuci tangan" href="{% url 'tips:cuci_tangan' %}">
                            <img class="fotoed2" style="margin-left: 50px;" src="{% static 'dirumahbersih.png' %}" alt="dirumah">
                            <img class="fotoed3" style="margin-left: 50px" src="{% static 'diluar.png'  %}" alt="dirumah">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="underpict">
                            <p><a class="textlink" href="{% url 'tips:cuci_tangan' %}"><span>Tips Mencuci Tangan</span></a><a class="textlink" href="{% url 'tips:di_rumah' %}"><span style="margin-left:235px">Tips di Rumah</span></a>
                                <a class="textlink" href="{% url 'tips:di_luar_rumah' %}"><span style="margin-left:265px">Tips di Luar Rumah</span></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="undertext">
                            <p><a class="underlink" href="{% url 'tips:cuci_tangan' %}"><span>Lihat selengkapnya</span></a><a class="underlink" href="{% url 'tips:di_rumah' %}"><span style="margin-left:280px">Lihat selengkapnya</span></a>
                                <a class="underlink" href="{% url 'tips:di_luar_rumah' %}"><span style="margin-left:260px">Lihat selengkapnya</span></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section style="margin-top:5em">
            <div class="container">
                <h5 class="judul">Check-in Harian</h5>
                {% if user.is_authenticated %}
                <div class="row">
                    <div class="col-md-12">
                   
                            <form method="POST">
                                {% csrf_token %}
                                <div class="mr-auto ml-auto" style="width: 50%; ">
                                    {% for field in form %}
                                    <div class="form-group">
                                        {{ field.label_tag }}
                                        {{ field }}
                                    </div>
                                    {% endfor %}
                                </div>
                                <center>
                                <div class="container">
                                    <input id="tambah" type="submit" value="tambah ke jurnal" class="btn btn-primary click" style="border-radius: 12px;">
                                    <div>
                                        <a href="{% url 'tips:view_jurnal' %}"><button id= "viewjurnal" class="btn btn-primary click" type="button" style="margin-top:1em;margin-bottom: 2em;">View Jurnal</button></a>
                                    </div>
                                </div>
                            </center>
                            </form>
                       
                    </div>
                </div>
            </div>
            
        </section>
        {% else %}
        <br>
        <br>
        <div style="margin: auto; text-align: center;">
            <h5>Harap Login Terlebih Dahulu</h5>
        </div>
        <br>
        <br>
        {% endif %}
         <!-- Optional JavaScript -->
        
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  
    {% endblock content %}
    
    {% block jsfile %}
    <script>
        $(document).ready(function(){
            $("#viewjurnal").click(function(){
                alert("Are you sure you want to view jurnal?");
            });
            $("#tambah").mouseenter(function(){
                alert("Thank you for adding!");
            });
        });
    </script>
    {% endblock jsfile %}    