
{% extends 'base.html' %}
{% load static %}

{% block meta%}
    <title>view jurnal</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- My fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet"> 

    <!-- My CSS -->

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">


    <style>
        body {
            font-family:'Montserrat', sans-serif !important;
            font-size: 15px;
            font-weight: bold;
            margin: 0 30px;
        }

        .btn1{
            border-radius: 12px;
            background-color: rgb(218, 78, 78);
            color: black;
            font-size: 12px;
            border:rgb(218, 78, 78);
        }

        .judul{
            color: rgba(0, 0, 0, 0.900);
            font-size: 20px;
            font-weight: 500;
        }
    </style>
    <!-- akhir style -->
    {% endblock meta %}
    
   <!-- view matkul -->
   {% block content %}
   <h5 class="judul" style="padding-top: 2em">View Jurnal</h5>
    <div style="margin-top:1em">
     <table class="table table-striped ">
         <thead>
             <tr>
                 <th scope="col">Subject</th>
                 <th scope="col">Tanggal</th>
                 <th scope="col">Pesan Jurnal</th>
                 
             </tr>
         </thead>
         <tbody>
             {% for i in semua_jurnal %}
             <tr>
                 <td>
                     <a>{{ i.Subject }}</a>
                 </td>
                 <td>{{ i.Date}}</td>
                 <td>{{ i.Message}}</td>
                 
            
             </tr>
             {% endfor %}
         </tbody>
     </table>   
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    {% endblock content %}

    
  